[Unit]
Description=Moode Remote Display
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Environment=DISPLAY=:0
Environment=SDL_VIDEODRIVER=fbcon
Environment=SDL_FBDEV=/dev/fb0
ExecStart=/usr/bin/python3 /home/pi/moode_display/moode_display.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
